.App {
  text-align: center;

}


.App-header {
  background-image: url(https://static8.depositphotos.com/1442253/913/i/600/depositphotos_9134949-stock-photo-holding-a-cocktail-on-a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 50px; 

}

.boton{
  background-image: url(https://labodega.consum.es/public/Image/2022/6/foto1_lacervezatienelactosa_1400x700px_ExtraGrande.jpg);
  background-size: cover;
  border-radius: 20px;
  color: black; 
  width: 150px;
  height: 55px;
  font-size: xx-large;
  margin: 30px; 


}

